In [0]:
dbutils.secrets.list(scope='roshanscope')

Out[1]: [SecretMetadata(key='storagekey'), SecretMetadata(key='storagename')]

In [0]:
spark.conf.set(
  "fs.azure.account.key." + dbutils.secrets.get(scope="roshanscope",key="storagename") + ".dfs.core.windows.net",
  dbutils.secrets.get(scope="roshanscope",key="storagekey"))

In [0]:
filePath = "abfss://roshancontainer@" + dbutils.secrets.get(scope="roshanscope",key="storagename") + ".dfs.core.windows.net/"

In [0]:
dbutils.fs.ls(filePath)

Out[24]: [FileInfo(path='abfss://roshancontainer@[REDACTED].dfs.core.windows.net/finaltitanic.csv/', name='finaltitanic.csv/', size=0, modificationTime=1684947919000),
 FileInfo(path='abfss://roshancontainer@[REDACTED].dfs.core.windows.net/titanic.csv', name='titanic.csv', size=60302, modificationTime=1684944281000)]

In [0]:
df = spark.read.format("csv").option("inferSchema", "true").option("header",
"true").option("delimiter",",").load(filePath+"titanic.csv")

In [0]:
df.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [0]:
from pyspark.sql.functions import col
#Task1a.How many people survive and how many people dead 
survived=df.filter(col("Survived")==1).count() 
print("The number of people who survived is",survived)

The number of people who survived is 342

In [0]:
from pyspark.sql.functions import col
died=df.filter(col("Survived")==0).count() 
print("The number of people who died is",died)

The number of people who died is 549

In [0]:
#Task2 How many people survive how does not have sibling
survived_sibling=df.filter((col("Survived")==1) & (col("SibSp") ==0)).count()
print("The number of people who survived and donot have sibling:",survived_sibling)

The number of people who survived and donot have sibling: 210

In [0]:
#Task3 How many people dead how does not have sibling 
dead_nosibling=df.filter((col("Survived")==0) & (col("SibSp") ==0)).count()
print("The number of people who dead and donot have sibling:",dead_nosibling)

The number of people who dead and donot have sibling: 398

In [0]:
#TASK5:How many male who died and how many female died
#for male
male_dead=df.filter((col("Survived")==0) & (col("Sex") =="male")).count()
print("Male who died is",male_dead)
#for female
female_dead=df.filter((col("Survived")==0) & (col("Sex") =="female")).count()
print("Female who died is",female_dead)

Male who died is 468
Female who died is 81

In [0]:
#Task4.Remove the NAN data from cabin and display updated list
df_new=df.na.drop(subset="cabin")
df_new.show()

+-----------+--------+------+--------------------+------+----+-----+-----+-----------+--------+-----------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|     Ticket|    Fare|      Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+-----------+--------+-----------+--------+
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|   PC 17599| 71.2833|        C85|       C|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|     113803|    53.1|       C123|       S|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|      17463| 51.8625|        E46|       S|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|    PP 9549|    16.7|         G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|     113783|   26.55|       C103|       S|
|         22|       1|     2|Beesley, Mr. Lawr...|  male|34.0|    0|    0|     248698|    13.0|        D56|       S|
|         24|       1|     1|Sloper, Mr. Willi...|  male|28.0|    0|    0|     113788|    35.5|         A6|       S|
|         28|       0|     1|Fortune, Mr. Char...|  male|19.0|    3|    2|      19950|   263.0|C23 C25 C27|       S|
|         32|       1|     1|Spencer, Mrs. Wil...|female|null|    1|    0|   PC 17569|146.5208|        B78|       C|
|         53|       1|     1|Harper, Mrs. Henr...|female|49.0|    1|    0|   PC 17572| 76.7292|        D33|       C|
|         55|       0|     1|Ostby, Mr. Engelh...|  male|65.0|    0|    1|     113509| 61.9792|        B30|       C|
|         56|       1|     1|   Woolner, Mr. Hugh|  male|null|    0|    0|      19947|    35.5|        C52|       S|
|         62|       1|     1| Icard, Miss. Amelie|female|38.0|    0|    0|     113572|    80.0|        B28|    null|
|         63|       0|     1|Harris, Mr. Henry...|  male|45.0|    1|    0|      36973|  83.475|        C83|       S|
|         67|       1|     2|Nye, Mrs. (Elizab...|female|29.0|    0|    0| C.A. 29395|    10.5|        F33|       S|
|         76|       0|     3|Moen, Mr. Sigurd ...|  male|25.0|    0|    0|     348123|    7.65|      F G73|       S|
|         89|       1|     1|Fortune, Miss. Ma...|female|23.0|    3|    2|      19950|   263.0|C23 C25 C27|       S|
|         93|       0|     1|Chaffee, Mr. Herb...|  male|46.0|    1|    0|W.E.P. 5734|  61.175|        E31|       S|
|         97|       0|     1|Goldschmidt, Mr. ...|  male|71.0|    0|    0|   PC 17754| 34.6542|         A5|       C|
|         98|       1|     1|Greenfield, Mr. W...|  male|23.0|    0|    1|   PC 17759| 63.3583|    D10 D12|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+-----------+--------+-----------+--------+
only showing top 20 rows

In [0]:

data=[( 342,549,210,398,468,81)]
columns=["deadcount","survivedcount","survivednosib","deadnosib","maledead","femaledead"]

df_2= spark.createDataFrame(data,columns)
df_2.show()

+---------+-------------+-------------+---------+--------+----------+
|deadcount|survivedcount|survivednosib|deadnosib|maledead|femaledead|
+---------+-------------+-------------+---------+--------+----------+
|      342|          549|          210|      398|     468|        81|
+---------+-------------+-------------+---------+--------+----------+

In [0]:
# Defining the output path in Azure Data Lake Storage
outputPath = "abfss://roshancontainer@" + dbutils.secrets.get(scope="roshanscope", key="storagename") + ".dfs.core.windows.net/finaltitanic.csv"

# Writing DataFrame to CSV file
df_2.write.format("csv").option("header", "true").mode("overwrite").option("delimiter", ",").save(outputPath)

In [0]:
filePath1 = "abfss://roshancontainer@" + dbutils.secrets.get(scope="roshanscope",key="storagename") + ".dfs.core.windows.net/finaltitanic.csv"
df = spark.read.format("csv").option("inferSchema", "true").option("header",
"true").option("delimiter",",").load(filePath1)

In [0]:
df.show()

+---------+-------------+-------------+---------+--------+----------+
|deadcount|survivedcount|survivednosib|deadnosib|maledead|femaledead|
+---------+-------------+-------------+---------+--------+----------+
|      342|          549|          210|      398|     468|        81|
+---------+-------------+-------------+---------+--------+----------+